@import '../styles-components/global-styles.css';
@import '../styles-components/header.css';
@import '../styles-components/footer.css';


.arrange-title{
	font-family: TT Norms Pro;
	font-weight: bold;
	font-size: 45px;
	line-height: 54px;
	margin-top: 57px;
	text-align: center;
	color: #000000;
}
.arrange__info-hotel{
	margin-top: 112px;
	display: flex;
	justify-content: space-between;
}
.arrange__info{
	margin-left: 60px;
	flex-grow: 1;
}

.arrange__hotel-title{
	font-family: TT Norms Pro;
	font-weight: bold;
	font-size: 40px;
	line-height: 48px;
	margin-top: 16px;
	color: #000000;
}
.arrange__info-descr{
	font-family: Cera Round Pro DEMO;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: #000000;
}
.arrange__info-location{
	font-family: Cera Round Pro DEMO;
	font-weight: 500;
	font-size: 16px;
	line-height: 16px;
	margin-top: 24px;
	color: #BBBBBB;
}
.arrange__info-price-container{
	margin-top: 48px;
	display: flex;
}
.arrange__info-price:nth-child(2){
	margin-left: 45px;
}
.arrange__info-price-value{
	font-family: Cera Round Pro DEMO;
	font-weight: bold;
	font-size: 26px;
	line-height: 26px;
	color: #00CBDA;
}
.arrange__info-price-prop{
	margin-top: 10px;
	font-family: TT Norms Pro;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	color: #ACACAC;
}

.arrange-datas{
	display: flex;
	justify-content: space-between;
	margin-top: 43px;
}
.arrange-questions{
	margin-top: 20px;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%),
				url('../images/arrange-tour-2.jpg') center;
	background-size: cover;
	width: 350px;
	height: 500px;
}
.arrange-questions__title{
	font-family: Cera Round Pro DEMO;
	font-weight: bold;
	font-size: 26px;
	line-height: 26px;
	text-align: center;
	margin-top: 50px;
	color: #FFFFFF;
}
.arrange-questions__descript{
	font-family: Cera Round Pro DEMO;
	font-weight: 500;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	margin-top: 26px;
	color: #FFFFFF;
}

.arrange-inputs__title{
	font-family: Cera Round Pro DEMO;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 26px;
	color: #000000;
}
.arrange-inputs__title--tourists{
	margin-top: 45px;
}
.arrange-inputs__descript{
	font-family: TT Norms Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 17px;
	margin-top: 17px;
	color: #000000;
	max-width: 400px;
}

.arrange-datas__contact-wrap{
	display: inline-block;
	width: 274px;
	margin-top: 31px;
	margin-right: 53px;
	position: relative;
}

input[type="text"].arrange-datas__contact,
input[type="number"].arrange-datas__contact{
	width: 100%;
	box-sizing: border-box;
	padding-left: 46px;
}
.arrange-datas__contact-wrap::before{
	content: "";
	position: absolute;
	width: 14px;
	height: 14px;
	top: 15px;
	left: 14px;
	background: url('../images/5-email.svg') center;
	background-size: cover;
	display: block;
}
.arrange-datas__contact-wrap--mail::before{
	background: url('../images/5-email.svg') center;
	background-size: cover;
}
.arrange-datas__contact--phone::before{
	background: url('../images/6-lock.svg') center;
	background-size: cover;
}

.arrange-inputs__sub-title{
	font-family: Cera Round Pro DEMO;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	margin-top: 37px;
	color: #000000;
}

.arrange-datas__tourists{
	margin: 20px 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.arrange-datas__tourist{
	box-sizing: border-box;
	width: 191px;
}

.arrange-inputs__sub-title--second{
	margin-top: 53px;
}

.arrange-inputs__title--buy{
	margin-top: 83px;
}

.arrange-inputs__payment-way{
	margin-top: 23px;
	display: flex;
	flex-wrap: wrap;
}
.arrange-inputs__way-param{
	font-family: Cera Round Pro DEMO;
	text-decoration: none;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 16px;
	color: #DCDCDC;
	margin-right: 27px;
}
.arrange-inputs__payment-way-param--active,
.arrange-inputs__way-param:hover{
	color: #00CBDA;
}
.arrange-inputs__descript-payment{
	font-family: TT Norms Pro;
	font-weight: normal;
	font-size: 12px;
	line-height: 17px;
	color: #000000;
	max-width: 550px;
	margin-top: 37px;
}

.arrange-inputs__card-container input{
	background: #FFFFFF;
	border: 1px solid #E9E9E9;
	border-radius: 5px;
}
.arrange-inputs__card-container{
	position: relative;
	z-index: 2;
}
.arrange-inputs__card{
	margin-top: 41px;
	padding: 27px 55px 60px;
	background: #FEFEFE;
	box-shadow: 0px 20px 40px rgba(119, 119, 119, 0.07);
	border-radius: 30px;
	width: 582px;
	height: 329px;
	z-index: 1;
	box-sizing: border-box;
}
.arrange-inputs__card-back{
	position: absolute;
	margin-top: 0;
	padding: 22px;
	top: 72px;
	left: 148px;
	z-index: -1;
	background-color: #FFFFFF;
}
.arrange-inputs__card-date-cont{
	margin-top: 23px;
	display: flex;
	align-items: flex-start;

}
.arrange-inputs__card-title{
	font-family: TT Norms Pro;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
}
.arrange-inputs__card-number{
	box-sizing: border-box;
	margin-top: 10px;
	width: 100%;
}
.arrange-inputs__card-term{
	display: inline-block;
	line-height: 21px;
	width: 75px;
	margin-right: 17px;
}
.arrange-inputs__card-date{
	box-sizing: border-box;
	width: 103px;
	margin-right: 26px;
}
.arrange-inputs__card-title--user{
	margin-top: 23px;
}

.arrange-inputs__CVV-cont{
	position: absolute;
	top: 77px;
	right: 22px;
	width: 103px;
	height: 70px;
	box-sizing: border-box;
}
.arrange-inputs__CVV-cont input{
	width: 100%;
	box-sizing: border-box;
}
.arrange-inputs__btn{
	display: table;
	margin: 0 auto;
	margin-top: 174px;
	padding-left: 75px;
	padding-right: 75px;
}
.main-footer {
    margin-top: 97px;
}
/*::-webkit-calendar-picker-indicator { display: none; }*/