@import '../styles-components/global-styles.css';
@import '../styles-components/header.css';
@import '../styles-components/footer.css';

.faq__title{
	margin-top: 69px;
	font-family: Cera Round Pro DEMO;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 40px;
	color: #000000;
}

.accordion{
	margin-top: 44px;
}
.accordion input[type="radio"]{
	display: none;
}

.accordion-preview{
	display: block;
	position: relative;

	font-family: Cera Round Pro DEMO;
	font-weight: bold;
	font-size: 20px;
	line-height: 26px;
	color: #000000;

	margin-top: -1px;
	padding: 18px 0;
	border-top: 1px solid #C4C4C4;
	border-bottom: 1px solid #C4C4C4;

	cursor: pointer;
}

.accordion-preview::before{
	content: "+";
	position: absolute;
	right: 20px;
	top: 0.9em;
	transform: translateY(-50%);
	width: 13px;
	height: 13px;

	font-family: Cera Round Pro DEMO;
	font-weight: bold;
	font-size: 26px;
	line-height: 26px;
	color: #00CBDA;

	transition: transform 0.5s;
}
input[type="radio"]:checked + .accordion-preview::before{
	transform: rotate(45deg) translateY(-50%);
}

.accordion-content__paragraph {
	font-family: TT Norms Pro;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	color: #000000;

	margin-top: 28px;
}
.accordion-content{
	display: none;
	margin-bottom: 23px;
}
input[type="radio"]:checked + .accordion-preview .accordion-content{
	display: block;
}