*{
	margin: 0;
	padding: 0;
}
body{
	font-family: "TT Norms Pro";
	font-weight: 400;
}
/*global*/
.container{
	position: relative;
	max-width: 1110px;
	margin: 0 auto;
}
.section-pre-title{
	font-family: TT Norms Pro;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #00CBDA;
}
.section-title{
	font-family: Cera Round Pro DEMO;
	font-weight: bold;
	font-size: 40px;
	line-height: 40px;
	text-align: center;
	margin-top: 15px;
	color: #000000;
}
.btn{
	font-family: Cera Round Pro DEMO;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #FFFFFF;
	background-color: #00CBDA;
	cursor: pointer;
	border: none;
	border-radius: 100px;
	text-decoration: none;
	padding: 10px 0;
}
.btn-white{
	box-sizing: border-box;
	color: #000000;
	background-color: #FFFFFF;
}
/*global END*/

/*main header-ekement*/
.main-header{
	background-color: #F8F8F8;
}
.main-nav{
	padding: 14px 0;
	max-height: 71px;
	display: flex;
	justify-content: space-between;
}

.main-header__properties{
	flex-grow: 1;
	display: flex;
	justify-content: space-between;
	margin: 0 57px;
	margin-right: 43px;
	align-items: center;
}

.main-header__prefix{
	font-size: 14px;
	line-height: 17px;
	color: #B6B6B6;
}
.main-header__current-city{
	font-family: TT Norms Pro;
	display: inline-block;
	margin-left: 13px;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	cursor: pointer;
	color: #000000;
}

.main-header__language img{
    transform: translateY(15%);
	margin-right: 16px;
}
.main-header__current-language{
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	margin-right: 16px;
	color: #000000;
}
.main-header__change-language{
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
    cursor: pointer;
	color: #A6A6A6;
}
.main-header .btn{
	margin: 0 14px;
	flex-basis: 191px;
}
/*main header-element END*/

/*caption page element*/
.caption{
	padding-top: 1px;	/*anti margin collapsing*/
	padding-bottom: 1px;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, 
				rgba(0, 0, 0, 0) 160.04%), 
				url(../images/caption-bg.png);
	background-size: cover;
}
.caption-title{
	font-family: Cera Round Pro DEMO;
	font-weight: bold;
	font-size: 112px;
	line-height: 112px;
	text-align: center;
	margin-top: 107px;
	color: #FFFFFF;
}
.caption-descript{
	font-family: Cera Round Pro DEMO;
	font-weight: bold;
	font-size: 40px;
	line-height: 40px;
	text-align: center;
	margin: 90px 0 74px;
	color: #FFFFFF;
}

/*choose-tour element*/
.choose-tour{
	padding: 32px 55px 32px 51px;
	margin-bottom: 103px;
	background: #FFFFFF;
	box-shadow: 0px 20px 40px rgba(119, 119, 119, 0.07);
	border-radius: 10px;
}

.choose-tour__type,
.choose-tour__props,
.choose-tour__actions{
	display: flex;
	justify-content: space-between;
}
.choose-tour__actions{
	margin-top: 31px;
	align-items: baseline;
}
.tab,
.choose-tour__option{
	flex-grow: 1;
}
.tab{
	font-family: Cera Round Pro DEMO;
	font-weight: 500;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	padding-bottom: 22px;
	border-bottom: 2px solid #F4F4F4;
	cursor: pointer;
	color: #000000;
}
.tab.active,
.tab:hover{
	color: #00CBDA;
	border-color: #00CBDA;
}

.choose-tour__props{
	margin-top: 32px;
}

.choose-tour__option{
	display: flex;
	flex-direction: column;
}
.choose-tour__label{
	font-family: TT Norms Pro;
	position: relative;
	font-weight: normal;
	font-size: 13px;
	line-height: 16px;
	padding-left: 25px;
	color: #BBBBBB;
}
.choose-tour__label::before{
	content: "";
	position: absolute;
	left: 0;
	display: inline-block;
	width: 14px;
	height: 14px;
	background: url("../images/1-pin.svg");
}
.choose-tour__option:nth-child(1) .choose-tour__label::before{
	background: url("../images/1-pin.svg");
}
.choose-tour__option:nth-child(2) .choose-tour__label::before{
	background: url("../images/2-briefcase.svg");
}
.choose-tour__option:nth-child(3) .choose-tour__label::before{
	background: url("../images/2-briefcase.svg");
}
.choose-tour__option:nth-child(4) .choose-tour__label::before{
	background: url("../images/3-calendar.svg");
}
.choose-tour__option:nth-child(5) .choose-tour__label::before{
	background: url("../images/4-keypad.svg");
}

.choose-tour__option{
	margin: 0 20px;
}
.choose-tour__option:first-child{
	margin-left: 0;
}
.choose-tour__option:last-child{
	margin-right: 0;
}
.choose-tour__option select{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	font-family: TT Norms Pro;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
	background-color: #FAFAFA;
	border: none;
	margin-top: 8px;
	padding: 15px 0 18px 25px;
	cursor: pointer;
}
.select-container{
	position: relative;
}
.select-container select{
	width: 100%;
}
.choose-tour__option .select-container::after{
	content: "";
	position: absolute;
	display: inline-block;
	right: 20.51px;
	top: 50%;
	width: 0;
	height: 0;
	transform: rotate(45deg);

	border-right: 3px solid #C4C4C4;
	border-bottom: 3px solid #C4C4C4;
	border-left: 3px solid transparent;
	border-top: 3px solid transparent;
}

.choose-tour__advanced{
	font-family: TT Norms Pro;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	text-decoration: none;
	color: #00CBDA;
}
.choose-tour__advanced::after{
	content: "";
	display: inline-block;
	width: 0;
	height: 0;
	transform: rotate(45deg) translateY(-50%);
	margin-left: 14px;
	border-right: 3px solid #00CBDA;
	border-bottom: 3px solid #00CBDA;
	border-left: 3px solid transparent;
	border-top: 3px solid transparent;
}
.choose-tour__send{
	padding: 15px 79px 17px 79px;
}
/*choose-tour element END*/
/*caption page element END*/


/*burning-tours element*/
.burning-tours{
	padding-top: 1px;
}
.section-pre-title{
	margin-top: 45px;
}

.burning-tours__items{
	margin-top: 79px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 276px 276px; 
	grid-gap: 34px 30px;
}
.burning-tours__item{
	background-size: cover;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 40.27%, rgba(0, 0, 0, 0) 100%);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 36px;
}
.burning-tours__item:nth-child(1){
	background: url("../images/burning-tours-1.png") no-repeat center;
	background-size: cover;
}
.burning-tours__item:nth-child(2){
	background: url("../images/burning-tours-2.png") no-repeat center;
	background-size: cover;
}
.burning-tours__item:nth-child(3){
	background: url("../images/burning-tours-3.png") no-repeat center;
	background-size: cover;
}
.burning-tours__item:nth-child(4){
	background: url("../images/burning-tours-4.png") no-repeat center;
	background-size: cover;
}
.burning-tours__item:nth-child(5){
	background: url("../images/burning-tours-5.png") no-repeat center;
	background-size: cover;
}
.burning-tours__item:first-child{
	grid-row: 1/3;
}
.burning-tours__price{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.burning-tours__tag{
	display: inline-block;
	font-family: Cera Round Pro DEMO;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #FFFFFF;
	padding: 8px 23px;
	background-color: #00CBDA;
	box-shadow: 0px 0px 10px rgba(29, 185, 185, 0.2);
	border-radius: 7px;
}
.burning-tours__cost{
	font-family: Cera Round Pro DEMO;
	font-weight: bold;
	font-size: 20px;
	line-height: 26px;
	text-align: right;
	color: #FFFFFF;
}
.burning-tours__cost-unit{
	font-family: TT Norms Pro;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
}

/* rate */
.rate{
	display: flex;
	justify-content: flex-start;
}
.rate__star{
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-right: 5px;
	background: url("../images/star-gray.svg");
}
.rate__star--light{
	background: url("../images/star.svg");
}
/* rate END*/

.burning-tours__title{
	margin-top: 19px;
	font-family: Cera Round Pro DEMO;
	font-weight: bold;
	font-size: 20px;
	line-height: 26px;
	color: #FFFFFF;
}

.burning-tours__table{
	margin: 0;
	margin-top: 30px;
}
.burning-tours__props-title{
	font-family: TT Norms Pro;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
}
.burning-tours__props-value{
    display: inline-block;
	margin-left: 13px;
	font-family: TT Norms Pro;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
}

.burning-tours__btn{
	position: relative;
	display: block;
	width: fit-content;
	padding: 17px 83px;
	margin: 45px auto 0;
}
/*burning-tours element END*/

/*work__list*/
.work .section-pre-title{
	margin-top: 99px;
}
.work__list{
	margin-top: 99px;
	display: flex;
	justify-content: space-between;
}
.work__itm{
	max-width: 255px;
}

.work__title{
	font-family: Cera Round Pro DEMO;
	font-weight: bold;
	font-size: 20px;
	line-height: 26px;
	margin-top: 46px;
	color: #00CBDA;
}
.work__description{
	font-family: TT Norms Pro;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	margin-top: 38px;
	color: #000000;
}
/*work__list END*/

/*recomendation*/
.recomendation .section-pre-title{
	margin-top: 99px;
}
.recomendation__list{
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
}

.recomendation__item:nth-child(1){
	background: url(../images/recomendation-1.png) center;
	background-size: cover;
	background-repeat: no-repeat;
}
.recomendation__item:nth-child(2){
	background: url(../images/recomendation-2.png) center;
	background-size: cover;
	background-repeat: no-repeat;
}
.recomendation__item:nth-child(3){
	background: url(../images/recomendation-3.png) center;
	background-size: cover;
	background-repeat: no-repeat;
}
.recomendation__item{
	padding: 36px;
	max-width: 350px;
	flex-grow: 1;
	margin: 15px;
	background: linear-gradient(360deg, rgba(0, 0, 0, 0.6) 21.18%, rgba(0, 0, 0, 0) 78.59%);
	border-radius: 10px;
	background-size: cover;
	background-repeat: no-repeat;
}
.recomendation__item:first-child{
	margin-left: 0;
}
.recomendation__item:last-child{
	margin-right: 0;
}
.recomendation__title{
	margin-top: 286px;
	font-family: Cera Round Pro DEMO;
	font-weight: bold;
	font-size: 20px;
	line-height: 26px;
	color: #FFFFFF;
}
.recomendation__more{
	display: inline-block;
	margin: 20px auto 33px;
	font-family: Cera Round Pro DEMO;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	text-decoration: none;
	color: #00CBDA;
}
/*recomendation END*/

/*tour-photos*/
.tour-photos__container{
	margin-top: 81px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 160px;
	grid-gap: 23px 30px;
}
.tour-photos__image:nth-child(1){
	grid-column: 1/3;
}
.tour-photos__image:nth-child(2){
	grid-column: 3/6;
}
.tour-photos__image:nth-child(3){
	grid-column: 6/10;
}
.tour-photos__image:nth-child(4){
	grid-column: 10/12;
}
.tour-photos__image:nth-child(5){
	grid-column: 1/3;
}
.tour-photos__image:nth-child(6){
	grid-column: 10/12;
}
.tour-photos__image:nth-child(7){
	grid-column: 1/3;
}
.tour-photos__image:nth-child(8){
	grid-column: 3/6;
}
.tour-photos__image:nth-child(9){
	grid-column: 10/12;
}
/*tour-photos END*/

/*reviews*/
.reviews{
	margin-top: 71px;
}
.reviews__container{
	display: flex;
	justify-content: space-between;
	margin-top: 72px;
}
.reviews__button{
	width: 46px;
	height: 46px;
	cursor: pointer;
	position: absolute;
	border-radius: 50%;
	border: none;
	background: #ffffff;
	background: url("../images/arrow-review.svg") center;
	background-repeat: no-repeat;
	padding: 11px;
}
.reviews__button-prev{
	left: 0;
}
.reviews__button-next{
	right: 0;
	transform: rotate(180deg);
}

.reviews__item{
	padding: 30px;
	background-color: #FFFFFF;
	box-shadow: 0px 20px 40px rgba(119, 119, 119, 0.07);
	border-radius: 20px;
	margin: 0 15px;
}
.reviews__item:first-child{
	margin-left: 0;
}
.reviews__item:last-child{
	margin-right: 0;
}
.reviews__item .rate{
	margin-top: 103px;
}
.reviews__descr{
	margin-top: 21px;
}
.reviews__item img{
	width: 65px;
	height: 65px;
	border-radius: 50%;
}
.reviews__user{
	margin-top: 10px;
	display: flex;
	align-items: center;
}
.reviews__user-info{
	margin-left: 20px;
}
.reviews__user-name{
	font-family: TT Norms Pro;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
}
.reviews__user-city{
	font-family: TT Norms Pro;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
}
/*reviews END*/

/*footer*/
.main-footer{
	margin-top: 108px;
	padding: 58px 0 43px;
}
.main-footer .container{
	display: flex;
	justify-content: space-between;
}
.main-footer__copyright{
	margin-top: 20px;
	font-family: TT Norms Pro;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: #A8A8A8;
}
.main-footer__menu{
	display: flex;
}
.main-footer__list{
	list-style: none;
	padding: 0;
}
.main-footer__list:last-child{
	margin-left: 111px;
}
.main-footer__link a{
	font-family: TT Norms Pro;
	text-decoration: none;
	font-weight: normal;
	font-size: 14px;
	line-height: 30px;
	color: #000000;
}
.main-footer__link a:hover{
	text-decoration: underline;
}
/*footer END*/