/* about-hotel */
.about-hotel{
	margin-top: 49px;
}
.about-hotel__title{
	font-family: TT Norms Pro;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	color: #000000;
}

.about-hotel__tags{
	margin-top: 24px;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.about-hotel__tag{
	margin-right: 20px;
	padding: 8px 13px;
	background: #F8F8F8;
	border-radius: 5px;

	font-family: TT Norms Pro;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: #B8B8B8;
}
.about-hotel__description{
	margin-top: 24px;
	font-family: TT Norms Pro;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	color: #000000;
}

.hotel-beach__feature{
	font-family: TT Norms Pro;
	font-weight: 500;
	font-size: 14px;
	line-height: 30px;
	color: #000000;
}
.hotel-beach__value{
	font-family: TT Norms Pro;
	font-weight: normal;
	font-size: 14px;
	line-height: 30px;

	padding-left: 45px;
	color: #000000;
}

/* about-hotel END*/