*{
	margin: 0;
	padding: 0;
}
body{
	font-family: "TT Norms Pro";
	font-weight: 400;
}
.container{
	position: relative;
	max-width: 1110px;
	margin: 0 auto;
}
.section-pre-title{
	font-family: TT Norms Pro;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #00CBDA;
}
.section-title{
	font-family: Cera Round Pro DEMO;
	font-weight: bold;
	font-size: 40px;
	line-height: 40px;
	text-align: center;
	margin-top: 15px;
	color: #000000;
}
.btn{
	font-family: Cera Round Pro DEMO;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #FFFFFF;
	background-color: #00CBDA;
	cursor: pointer;
	border: none;
	border-radius: 100px;
	text-decoration: none;
	padding: 10px 0;
	transition: background-color 0.4s;
}
.btn:hover{
	background-color: #00DCDE;
}
.btn-white{
	box-sizing: border-box;
	color: #000000;
	background-color: #FFFFFF;
}
.btn-white:hover{
	background-color: #EFEFEF;
}

/* rate */
.rate{
	display: flex;
	justify-content: flex-start;
}
.rate__star{
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-right: 5px;
	background: url("../images/star-gray.svg");
}
.rate__star--light{
	background: url("../images/star.svg");
}

.select-container select{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	font-family: TT Norms Pro;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
	background-color: #FAFAFA;
	border: none;
	margin-top: 8px;
	padding: 15px 0 18px 25px;
	cursor: pointer;
}
.select-container{
	position: relative;
}
.select-container::after{
	content: "";
	position: absolute;
	display: inline-block;
	right: 20.51px;
	top: 50%;
	width: 0;
	height: 0;
	transform: rotate(45deg);

	border-right: 3px solid #C4C4C4;
	border-bottom: 3px solid #C4C4C4;
	border-left: 3px solid transparent;
	border-top: 3px solid transparent;
}
/* rate END*/
.tabs{
	display: flex;
	justify-content: space-between;
}
.tab{
	flex-grow: 1;
	font-family: Cera Round Pro DEMO;
	font-weight: 500;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	padding-bottom: 22px;
	border-bottom: 2px solid #F4F4F4;
	cursor: pointer;
	color: #000000;
}
.tab.active,
.tab:hover{
	color: #00CBDA;
	border-color: #00CBDA;
}
.tab-content{
	margin-top: 32px;
	display: none;
}
.tab-current{
	display: block;
}
.tab-radio{
	display: none;
}
input{
	font-family: TT Norms Pro;
	font-weight: normal;
	font-size: 13px;
	line-height: 16px;
	padding: 14px 0 14px 23px;
	background-color: #FAFAFA;
	border: none;
	border-radius: 5px;
	color: #000000;
}
input:placeholder{
	font-family: TT Norms Pro;
	font-weight: normal;
	font-size: 13px;
	line-height: 16px;
	color: #BBBBBB;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}