/*recomendation*/
.recomendation .section-pre-title{
	margin-top: 99px;
}
.recomendation__list{
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
}

.recomendation__item:nth-child(1){
	background: url(../images/recomendation-1.png) center;
	background-size: cover;
	background-repeat: no-repeat;
}
.recomendation__item:nth-child(2){
	background: url(../images/recomendation-2.png) center;
	background-size: cover;
	background-repeat: no-repeat;
}
.recomendation__item:nth-child(3){
	background: url(../images/recomendation-3.png) center;
	background-size: cover;
	background-repeat: no-repeat;
}
.recomendation__item{
	padding: 36px;
	max-width: 350px;
	flex-grow: 1;
	margin: 15px;
	background: linear-gradient(360deg, rgba(0, 0, 0, 0.6) 21.18%, rgba(0, 0, 0, 0) 78.59%);
	border-radius: 10px;
	background-size: cover;
	background-repeat: no-repeat;
}
.recomendation__item:first-child{
	margin-left: 0;
}
.recomendation__item:last-child{
	margin-right: 0;
}
.recomendation__title{
	margin-top: 286px;
	font-family: Cera Round Pro DEMO;
	font-weight: bold;
	font-size: 20px;
	line-height: 26px;
	color: #FFFFFF;
}
.recomendation__more{
	display: inline-block;
	margin: 20px auto 33px;
	font-family: Cera Round Pro DEMO;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	text-decoration: none;
	color: #00CBDA;
}
/*recomendation END*/